div {
    width: 150px;
    height: 200px; 
    box-shadow: -5px 5px 10.6px rgba(0, 0, 0, 0.25);;
    border-radius: 3px;
    border: 0.5px solid rgb(192, 192, 192); 
}

div[typeCard="default"]{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    
}

div[typeCard="promotion"]{
    --borderWidth: 3px;
    background: #FFF;
    position: relative;
    border-radius: var(--borderWidth);
}

div[typeCard = 'promotion']:after{
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(1 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 2s ease alternate infinite;
    background-size: 300% 300%;
  }

  @keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
