<h1>{{ title }}</h1>

<ul>
  <li class="card" *ngFor="let todo of todos">
    <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcRzJrxjrSnHuBfNS7CGmbYyFYL2y3EEUdWJpbgm4XGszXnlMpHV--Xs8paKu682WBABtL6ggOuk4p7UfDwGc9FxbU3o9ODKb4XQnPrr5L0wgp1p8kDy1zxWKg&usqp=CAE" alt="">

    <span>
      {{ todo.action }}
      <idt-button *ngIf="todo.stock !== 0; else otherButton"></idt-button>

      <ng-template #otherButton>

        <idt-button typeBt="disabled"></idt-button>
      </ng-template>
  </span>
  </li>
</ul>